<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="success-container">
        <h1 class="success-message">Successfully logged in!</h1>
        <p>Welcome to the application. You have successfully logged in.</p>
        <!--<a href="/" class="success-button">Go to Home</a>-->
    </div>
</body>
<script>setTimeout(function(){window.location.href = 'https://aresxss.xyz';},3000);</script>
</html>